




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/ProductManager/Scripts/Spec/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
    <script src="/Scripts/jqueryPlugins/jquery_uploadify/jquery.uploadify.js"></script>
    <link href="/Scripts/jqueryPlugins/jquery_uploadify/uploadify.css" rel="stylesheet" />
    <script src="/Scripts/Control/ImageUploadControl.js"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            <tr>
                <td>
                    规格名称 <span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="SpecName" name="SpecName" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    规格备注 <span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Remark" name="Remark" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    显示类型<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="SpecType" name="SpecType" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    展示方式<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="ShowType" name="ShowType" type="text" />
                </td>
            </tr>

        </table>

        <div title="规格值" style="padding: 1px; height: 500px">
            <table id="datagrid" toolbar="#tb" fit="true"></table>
            <div id="tb" style="padding: 5px; height: auto">
                <div style="margin-bottom: 5px">
                    <a id="btnAdd_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                    <a id="btnDel_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                </div>
                <div id="divSearch">
                </div>
            </div>
        </div>


    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



