




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/CustomerManager/Scripts/Customer/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
    <script src="/Scripts/Control/AreaSelectControl.js"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">


        <table class="mtable">
            <tr>
                <td>
                    注册手机号<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Mobilephone" name="Mobilephone" type="text" />
                </td>

                <td>
                    密码<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Password" name="Password" type="password" />
                </td>

                <td>
                    会员名称<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="CustomerName" name="CustomerName" type="text" />
                </td>
               
            </tr>
            <tr>
                <td>
                    会员卡类型<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="CardTypeId" name="CardTypeId" type="text" />
                </td>
                <td>
                    会员卡状态：
                </td>
                <td>
                    <select id="State" name="State">
                        <option value="1">正常</option>
                        <option value="2">注销</option>
                    </select>
                </td>
                <td>
                    
                </td><td></td>
            </tr>

            <tr>
                <td>
                    性别：
                </td>
                <td>
                    <select id="Gender" name="Gender"> <option value="男">男</option><option value="女">女</option></select>
                </td>

                <td>
                    生日:
                </td>
                <td>
                    <input id="Birthday" name="Birthday" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" />
                </td>

                <td>
                    家庭电话:
                </td>
                <td>
                    <input id="Familytelephone" name="Familytelephone" type="text" />
                </td>
                <td colspan="2"></td>
            </tr>

            <tr>
                <td>
                    省市区
                </td>
                <td colspan="7">
                    <input id="ProvinceId" name="ProvinceId" type="text" class="easyui-combobox" />

                    <input id="CityId" name="CityId" type="text" class="easyui-combobox" />

                    <input id="AreaId" name="AreaId" type="text" class="easyui-combobox" />
                </td>
               
            </tr>
            <tr>
                <td>
                    详细地址:
                </td>
                <td>
                    <input id="Address" name="Address" type="text" style="width: 300px" />
                </td>

                <td>
                    邮编:
                </td>
                <td>
                    <input id="Postcode" name="Postcode" type="text" />
                </td>
                <td colspan="4"></td>
            </tr>


        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



