<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="JsParamter" value="1"/>
    <add key="IndexPagePkId" value="1"/>

  <add key="UploadFile" value="/UploadFile/"/>
  <!--正式同步请根据同下配置-->
  <!--http://10.173.64.156:8085/platform/services/HR/getStringHRdept-->
  <add key="Third_DepartmentWebServiceUrl" value=""/> 
  
  
  <add key="ZfRole" value="1007"/>
  <add key="DbRole" value="1008"/>


  <!--付款方式-支付代码，工行只能域名，IP报错(正式需切换成域名)-->
  <add key="PaymentHost" value="http://192.168.85.68"/>
  <!--支付备注-->
  <add key="PaymentRemark" value="hhh"/>
  <!--支付宝-->
  <add key="AlipayPartner" value="2088901681979910"/>
  <add key="AlipayKey" value="dkku7npeasqk0c1je4obnl5msqvszw70"/>
  <add key="AlipayNotifyUrl" value="/Payment/AlipayNotify"/>
  <add key="AlipayReturnUrl" value="/Payment/AlipayReturn"/>
  <add key="AlipaySellerEmail" value="ec@harborhousehome.com"/>


  <add key="CmbPayCode" value="3201"/>
  <add key="IcbcPayCode" value="3101"/>
  <add key="CommPayCode" value="3601"/>
  <add key="AlipayCode" value="Alipay"/>
  <add key="TenpayCode" value="Tenpay"/>
</appSettings>