





@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

@section JavaScript{
    <script src="/Areas/OrderManager/Scripts/OrderMain/List.js?JsParamter=@SiteConfig.GetConfig().JsParamter" type="text/javascript"></script>
}

<div title="订单主表信息" style="padding:1px;">
    <table id="datagrid" style="height:auto;" iconcls=".icon-save" singleselect="true" toolbar="#tb" fit="true"></table>
    <div id="tb" style="padding:5px;height:auto">
        <div style="margin-bottom: 5px">

            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">发货</a>

            <a id="btnDel" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">退货审核</a>

            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">退款确认</a>


            <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">刷新</a>

        </div>

        <div id="divSearch">
            <form>

                <table class="mtable">

                    <tr>
                        <td>
                            订单号:
                        </td>
                        <td>
                            <input id="OrderNo" name="OrderNo" type="text" />
                        </td>

                        <td>
                            订单状态:
                        </td>
                        <td>
                            <select id="State" name="State">
                                <option value=""></option>
                                <option value="1">确认</option>
                                <option value="2">退货</option>
                                <option value="3">退款</option>
                                <option value="4">作废</option>
                            </select>
                        </td>

                        <td>
                            会员Id:
                        </td>
                        <td>
                            <input id="CustomerId" name="CustomerId" type="text" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            会员姓名:
                        </td>
                        <td>
                            <input id="CustomerName" name="CustomerName" type="text" />
                        </td>

                        <td>
                            快递单号:
                        </td>
                        <td>
                            <input id="SendNo" name="SendNo" type="text" />
                        </td>

                        <td>
                            发货备注:
                        </td>
                        <td>
                            <input id="SendRemark" name="SendRemark" type="text" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            退货原因:
                        </td>
                        <td>
                            <input id="ReturnReason" name="ReturnReason" type="text" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSearch">搜索</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>





