




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/OrderManager/Scripts/OrderMain/ReturnPrdSend.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">

    <form id="form1">
        <table class="mtable">
            <tr>
                <td>退货运单号<span style="color: Red">*</span>：</td>
                <td><input type="text" id="ReturnPrdSendNo" name="ReturnPrdSendNo" style="width: 300px" /></td>
            </tr>
            <tr>
                <td>退货备注：</td>
                <td><input type="text" id="ReturnPrdSendRemak" name="ReturnPrdSendRemak" style="width: 300px" /></td>
            </tr>
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">

    <a id="btnReturnPrdSend" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">确认</a>

    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>

<iframe name="mainFrame" scrolling="no" frameborder="0" src="/OrderManager/OrderMain/Detail?PkId=@Request["PkId"]" style="width:100%;height:600px;"></iframe>

