




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/OrderManager/Scripts/OrderMain/ReturnPayNoSendConfirm.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">

    <form id="form1">
        <table class="mtable">
            <tr>
                <td style="width: 150px">
                    退款支付方式<span style="color: Red">*</span>：
                </td>
                <td>
                    <select id="ReturnPayNoSendPayType" name="ReturnPayNoSendPayType">
                        <option value=""></option>
                        <option value="Alipay">支付宝</option>
                        <option value="CmbBank">招商银行</option>
                        <option value="Tenpay">财付通</option>
                        <option value="IcbcBank">工商银行</option>
                        <option value="CommBank">交通银行</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>退款流水号<span style="color: Red">*</span>：</td>
                <td><input type="text" id="ReturnPayNoSendSerialNumber" name="ReturnPayNoSendSerialNumber"  /></td>
            </tr>

            <tr>
                <td>退款备注：</td>
                <td><input type="text" id="ReturnPayNoSendConfirmRemark" name="ReturnPayNoSendConfirmRemark" style="width: 300px" /></td>
            </tr>
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">

    <a id="btnReturnPayNoSendConfirm" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">确认退款</a>

    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>


<iframe name="mainFrame" scrolling="no" frameborder="0" src="/OrderManager/OrderMain/Detail?PkId=@Request["PkId"]" style="width:100%;height:600px;"></iframe>
