




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/RiverManager/Scripts/RiverCheck/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            <tr>
                <td style="width: 100px">
                    河道名称： <span style="color: Red">*</span>:
                </td>
                <td style="width: 100px">
                    <input id="RiverId" name="RiverId" type="text"/>
                </td>
                <td style="width: 100px">
                    河长姓名： <span style="color: Red">*</span>:
                </td>
                <td style="width: 100px">
                    <input id="UserCode" name="UserCode" type="text"/>
                </td>
                <td style="width: 100px">
                    巡河描述:
                </td>
                <td style="width: 100px">
                    <input id="Remark" name="Remark" type="text"/>
                </td>
            </tr>
          

            <tr style="display: none">
                <td>
                    控制点<span style="color: Red">*</span>:
                </td>
                <td>
                    <textarea id="Coords" name="Coords"></textarea>
                </td>
            </tr>



        </table>

        <iframe src="/RiverManager/River/TdMap?command=setPoint&PkId=@Request["PkId"]" frameborder="0" width="100%" height="510px"></iframe>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



