/Project.WebApplication/bin
/Project.WebApplication/*.user
/Project.Application.Service/bin
/Project.Infrastructure.FrameworkCore/bin
/Project.WebApplication.Tests/bin
/WindowsFormsApplicationTest/bin
/Project.WebApplication/obj/Release/Package/PackageTmp/bin
/Project.Service/bin
/Project.Repository/bin
/Project.Model/bin
/Project.Map/bin
/Project.Config/bin
/Project.WebSite/bin
/Project.WebApplication/UploadFile
/Project.WebApplication/Logs
/CommonFramework.v12.suo
/Project.Model/obj
/Project.Map/obj
/Project.Infrastructure.FrameworkCore/obj
/Project.Config/obj
/Project.Application.Service/obj
/Project.WebSite/obj
/Project.WebApplication.Tests/obj
/WindowsFormsApplicationTest/obj
/Project.WebApplication/obj
/Project.Service/obj
/Project.Repository/obj
/.vs
