




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/ContentManager/Scripts/OfflineActivity/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
<script src="/Scripts/jqueryPlugins/jquery_uploadify/jquery.uploadify.js"></script>
<link href="/Scripts/jqueryPlugins/jquery_uploadify/uploadify.css" rel="stylesheet" />
<script src="/Scripts/Control/ImageUploadDefaultControl.js"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            <tr>
                <td style="width: 100px">
                    活动标题<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Tttle" name="Tttle" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    活动地址<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="OfflineActivityAddress" name="OfflineActivityAddress" type="text"  style="width: 400px"/>
                </td>
            </tr>

            <tr>
                <td>
                    活动时间<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="StartDate" name="StartDate" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" />
                    -
                    <input id="EndDate" name="EndDate" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" />
                </td>
            </tr>

            <tr>
                <td>
                    图片:
                </td>
                <td>
                    <div style="float: left; width: 150px; height: 200px">
                        <div style="display: none">
                            <input id="ImageUrl" name="ImageUrl" type="text" />
                        </div>
                        <div id="div_filename" style="height: 170px; width: 150px">

                        </div>
                        <div style="width: 150px;">
                            <input id="file_upload" name="file_upload" type="file" />
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    简介<span style="color: Red">*</span>:
                </td>
                <td>
                    <textarea id="BriefDescription" name="BriefDescription" style="width: 400px;height: 200px"></textarea>
                </td>
            </tr>

            @*<tr>
                    <td  >
                        活动状态<span style="color: Red">*</span>:
                    </td>
                    <td >
                        <input id="State" name="State"  type="text"  />
                    </td>
                </tr>*@

        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



