
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeiXinLogin</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
<div>
    <iframe name="ifm_weixin" src="https://mp.weixin.qq.com/" frameborder="0" width="100%" height="510px" onload="login()"></iframe>
    <script type="text/javascript">
        function login() {
           

           // frames["ifm_weixin"].$("#account").val("1111");
          //  alert( frames["ifm_weixin"].document.getElementById("account").value);
        }

    </script>
</div>
</body>
</html>
