




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/ProductManager/Scripts/SystemCategory/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display:none ">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />

    <textarea id="SpecHtml">@ViewBag.SpecHtml</textarea>
    <textarea id="AttributeHtml">@ViewBag.AttributeHtml</textarea>
</div>
<div class="mtable_div">
    <form id="form1">
        <div class="easyui-tabs" style="height: 0px;" border="false">
            <div title="基本信息">
            </div>
        </div>
        <table class="mtable">
            <tr>
                <td style="width: 200px">
                    分类名称<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="SystemCategoryName" name="SystemCategoryName" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    排序:
                </td>
                <td>
                    <input id="Sort" name="Sort" type="text" />
                </td>
            </tr>

            @*<tr>
                    <td>
                        关联品牌<span style="color: Red">*</span>:
                    </td>
                    <td>
                        <input id="Brand" name="Brand" type="text"/>
                    </td>
                </tr>*@
        </table>

        <table>
            <tr>
                <td>
                    <div class="easyui-tabs" style="height: 0px;width: 400px;" border="false">
                        <div title="扩展属性">
                        </div>
                    </div>

                    <div title="扩展属性" style="padding: 1px; height: 200px;width: 400px;">
                        <table id="datagrid" toolbar="#tb" fit="true"></table>
                        <div id="tb" style="padding: 5px; height: auto">
                            <div style="margin-bottom: 5px">
                                <a id="btnAdd_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                                <a id="btnDel_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                            </div>

                        </div>
                    </div>
                </td>
                <td>

                    <div class="easyui-tabs" style="height: 0px;width: 400px;" border="false">
                        <div title="关联规格">
                        </div>
                    </div>
                    <div title="关联规格" style="padding: 1px; height: 200px;width: 400px;">
                        <table id="datagrid2" toolbar="#tb2" fit="true"></table>
                        <div id="tb2" style="padding: 5px; height: auto">
                            <div style="margin-bottom: 5px">
                                <a id="btnAdd2_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                                <a id="btnDel2_ToolBar" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



