
@using PagedList
@using PagedList.Mvc
  
@{
    ViewBag.Title = "我的账户-我的订单";
    Layout = "~/Views/Shared/_UserCenterLayout.cshtml";
}

@section Head
{
    
<link href="~/Content/PagedList.css" rel="stylesheet" />
}

<div>



    @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page=1,type=2}))



</div>