

  


@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/OrderManager/Scripts/OrderInvoice/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
<input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
<input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            
              <tr>
            <td  >
                <span style="color: Red">*</span>:
            </td>
            <td >
                <input id="PkId" name="PkId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                订单号<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="OrderNo" name="OrderNo"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                发票抬头<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="InvoiceTitle" name="InvoiceTitle"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                发票内容<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="InvoiceContent" name="InvoiceContent"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                开票公司<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="InvoiceCompany" name="InvoiceCompany"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                发票编码<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="InvoiceNo" name="InvoiceNo"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                开票金额<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Money" name="Money"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                备注<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Remark" name="Remark"  type="text"  />
            </td>
        </tr>
          
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"]==null||int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>





