

  


@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/ProductManager/Scripts/Product/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
<input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
<input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            
              <tr>
            <td  >
                产品ID<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="PkId" name="PkId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                产品名称<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="ProductName" name="ProductName"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                系统类型<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="SystemCategoryId" name="SystemCategoryId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                商品分类<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="ProductCategoryId" name="ProductCategoryId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                商品分类全路由<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="ProductCategoryRoute" name="ProductCategoryRoute"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                品牌ID<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="BrandId" name="BrandId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                商品编号<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="ProductCode" name="ProductCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                计量单位<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Unit" name="Unit"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                简介<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="BriefDescription" name="BriefDescription"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                详细描述<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Description" name="Description"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                重量<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Weight" name="Weight"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                重量单位<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="WeightUnit" name="WeightUnit"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                市场价<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="MarketPrice" name="MarketPrice"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                销售价<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="SellPrice" name="SellPrice"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                成本价<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Cost" name="Cost"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                货币单位<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="PriceUnit" name="PriceUnit"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                库存数量<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="StockNum" name="StockNum"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                最大数量限制<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="BuyMaxNum" name="BuyMaxNum"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                最小数量限制<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="BuyMinNum" name="BuyMinNum"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                访问次数<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="ViewNum" name="ViewNum"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                评论次数<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CommentNum" name="CommentNum"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                售出数量<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="SelledNum" name="SelledNum"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                页面标题<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Title" name="Title"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                页面关键字<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="MetaKeywords" name="MetaKeywords"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                页面描述<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="MetaDescription" name="MetaDescription"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                是否上架<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="IsShow" name="IsShow"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                是否推荐<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="IsCommand" name="IsCommand"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                Pdt_desc<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="PdtDesc" name="PdtDesc"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                Spec_desc<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="SpecDesc" name="SpecDesc"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                Params_desc<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="ParamsDesc" name="ParamsDesc"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                Tags_desc<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="TagsDesc" name="TagsDesc"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                创建人<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CreatorUserCode" name="CreatorUserCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                创建时间<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CreationTime" name="CreationTime"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                修改人<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="LastModifierUserCode" name="LastModifierUserCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                修改时间<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="LastModificationTime" name="LastModificationTime"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                是否删除<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="IsDeleted" name="IsDeleted"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                删除人<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="DeleterUserCode" name="DeleterUserCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                删除时间<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="DeletionTime" name="DeletionTime"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性1<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P1" name="P1"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性2<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P2" name="P2"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性1<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P3" name="P3"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性2<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P4" name="P4"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性1<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P5" name="P5"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性2<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P6" name="P6"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性1<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P7" name="P7"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性2<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P8" name="P8"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                扩展属性1<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="P9" name="P9"  type="text"  />
            </td>
        </tr>
          
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"]==null||int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>





