


@using AutoMapper.Internal
@model Project.WebApplication.Areas.ProductManager.Models.ProductHdVm

@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/ProductManager/Scripts/Product/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
    <script src="/Areas/ProductManager/Scripts/Product/ProductSpecHd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
    <script src="/Areas/ProductManager/Scripts/Product/ProductAttributeHd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
    <script src="/Scripts/pro/combinationCount.js"></script>
}
<div style="display: ">

    <textarea id="BindEntity">@ViewBag.BindEntity</textarea>
    <input id="Command" type="hidden" />
    <textarea id="SpecVmList">@ViewBag.SpecVmList</textarea>
    <textarea id="AttributeVmList">@ViewBag.AttributeVmList</textarea>
</div>
<div class="mtable_div">
    <form id="form1">

        @*<div class="easyui-tabs" style="height: 0px;" border="false">
                <div title="产品参数">
                </div>
            </div>
            <table class="mtable">
                <tr>
                    <td>
                        产品参数<span style="color: Red">*</span>:
                    </td>
                    <td>
                        待定
                    </td>
                </tr>
            </table>*@

        <div class="easyui-tabs" style="height: 0px;" border="false">
            <div title="商品属性">
            </div>
        </div>
        <table class="mtable" id="attributeArea" ></table>

        <div class="easyui-tabs" style="height: 0px;" border="false">
            <div title="商品价格库存">
            </div>
        </div>

        <table class="mtable" id="specArea">
            <tr>
                <td style="width: 150px">
                    销售价<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="SellPrice" name="SellPrice" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    SKU表：
                </td>
                <td>
                    <table class="mtable" id="skuArea"></table>

                </td>
            </tr>

            <tr>
                <td>
                    商品数量<span style="color: Red">*</span>：
                </td>
                <td>
                    <input id="StockNum" name="StockNum" type="text" />  件
                </td>
            </tr>
            <tr>
                <td>
                    商家编码：
                </td>
                <td>
                    <input id="ProductCode" name="ProductCode" type="text" />
                </td>
            </tr>
        </table>

        @*<div class="easyui-tabs" style="height: 0px;" border="false">
                <div title="商品物流信息">
                </div>
            </div>

            <table class="mtable">
                <tr>
                    <td>
                        销售价<span style="color: Red">*</span>:
                    </td>
                    <td></td>

                </tr>
            </table>*@



        <div class="easyui-tabs" style="height: 0px;" border="false">
            <div title="商品描述">
            </div>
        </div>

        <table class="mtable">

            <tr>
                <td>
                    商品分类<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="ProductCategoryId" name="ProductCategoryId" type="text" />
                </td>
            </tr>


            <tr>
                <td>
                    商品标题<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="ProductName" name="ProductName" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    主图<span style="color: Red">*</span>:
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    其他图片<span style="color: Red">*</span>:
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    简介<span style="color: Red">*</span>:
                </td>
                <td>
                    <textarea id="BriefDescription" name="BriefDescription"></textarea>

                </td>
            </tr>

            <tr>
                <td>
                    详细描述<span style="color: Red">*</span>:
                </td>
                <td>
                    <textarea id="Description" name="Description"></textarea>

                </td>
            </tr>

        </table>


        <div class="easyui-tabs" style="height: 0px;" border="false">
            <div title="商品描述">
            </div>
        </div>


        <table class="mtable">
            <tr>
                <td>
                    其他
                </td>

            </tr>
        </table>

    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



