




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/RiverManager/Scripts/RiverProblemApply/RiverProblemHd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            @Html.Partial("_RiverDetail")
            <tr>
                <td>
                    处理结果:<span style="color: Red">*</span>:
                </td>
                <td colspan="5">
                    <textarea id="DbFinishRemark" name="DbFinishRemark" style="width: 500px; height: 100px"></textarea>

                    <input name="DbState" id="DbState" value="1" style="display: none" />
                </td>
            </tr>
        </table>
        <script type="text/javascript">
            //$(function () {
            //    $("#State").val(3);
            //});
        </script>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">完结</a>
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



