




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/RiverManager/Scripts/RiverProblemApply/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            @Html.Partial("_RiverDetail")
            <tr>
                <td>
                    批示备注<span style="color: Red">*</span>:
                </td>
                <td colspan="5">
                    <textarea id="TopDepartmentRemark" name="TopDepartmentRemark" style="width: 500px; height: 100px"></textarea>
                </td>
            </tr>
        </table>
        <script type="text/javascript">
          

            $(function () {
                $("#btnEdit").click(function () {
                    pro.RiverProblemApply.HdPage.submit("EditPs");
                });
            });
        </script>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



