




@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/RiverManager/Scripts/RiverAttach/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
    <input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
    <input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">

            <tr>
                <td style="width: 130px">
                    河道名称 <span style="color: Red">*</span>: 
                </td>
                <td>
                    <input id="RiverId" name="RiverId" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    监测月日<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="RecordTime" name="RecordTime" type="text" onclick="WdatePicker({dateFmt:'yyyy-MM'});" />
                </td>
            </tr>

            <tr style="display: none">
                <td>
                    水纹水质<span style="color: Red">*</span>:
                </td>
                <td>
                    <input id="Remark" name="Remark" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    责任河长:
                </td>
                <td>
                    <input id="RiverChief" name="RiverChief" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    流域区域:
                </td>
                <td>
                    <input id="RiverArea" name="RiverArea" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    点位名称:
                </td>
                <td>
                    <input id="PointName" name="PointName" type="text" />
                </td>
            </tr>

            <tr>
                <td>
                    流向:
                </td>
                <td>
                    <input id="RiverFlow" name="RiverFlow" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    高锰酸盐指数(mg/L):
                </td>
                <td>
                    <input id="Zb1" name="Zb1" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    氨氮(mg/L)
                </td>
                <td>
                    <input id="Zb2" name="Zb2" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    总磷(mg/L)
                </td>
                <td>
                    <input id="Zb3" name="Zb3" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    水质类别:
                </td>
                <td>
                    <input id="WaterQualityRank" name="WaterQualityRank" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    定类指标:
                </td>
                <td>
                    <input id="Pointer" name="Pointer" type="text" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"] == null || int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>



