





@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

@section JavaScript{
    <script src="/Areas/RiverManager/Scripts/RiverAttach/ViewHd.js?JsParamter=@SiteConfig.GetConfig().JsParamter" type="text/javascript"></script>
}

<div title="查询" style="padding: 1px;">
    
    <table id="datagrid" style="height: auto;" iconcls=".icon-save" singleselect="true" toolbar="#tb" fit="true"></table>

</div>





