<title>@ViewBag.Title</title>


<link href="~/Scripts/jqueryPlugins/jquery_validate/jquery.validate.extension.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="/Scripts/pro/submitKit.js"></script>
<script src="/Scripts/pro/bindKit.js"></script>
<script src="/Scripts/pro/commonKit.js"></script>
<script src="~/Scripts/pro/abp.jquery.ajax.js"></script>
<script src="~/Scripts/pro/controlKit.js"></script>
<script src="/Scripts/jqueryPlugins/jquery_json/Json.js"></script>
<script src="/Scripts/pro/base64.js"></script>

<script src="~/Scripts/jqueryPlugins/jquery_validate/jquery.validate.js"></script>
<script src="~/Scripts/jqueryPlugins/jquery_validate/card.js"></script>
<script src="~/Scripts/jqueryPlugins/jquery_validate/jquery.validate.extension.js"></script>

<link href="~/Scripts/jqueryPlugins/jquery_tip/tip-yellowsimple/tip-yellowsimple.css" rel="stylesheet" />
<script src="~/Scripts/jqueryPlugins/jquery_tip/jquery.poshytip.js"></script>
<script src="~/Scripts/pro/debugKit.js"></script>

<script src="~/Scripts/pro/My97DatePicker/WdatePicker.js"></script>



<script src="~/Scripts/linq/JSLINQ.js"></script>
<script src="~/Scripts/linq/JSLINQextend.js"></script>

<script type="text/javascript" language="javascript">
    $(function () {
        var str = "@ViewBag.PermissionScript";
        eval(str.replace(/&#39;/g, "'"));
    });

</script>
