<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_Head")
    @RenderSection("JavaScript", false)
    <script type="text/javascript">
        $(function () {
            var str = "@ViewBag.PermissionScript";
            eval(str.replace(/&#39;/g, "'"));
        });
    </script>
</head>
<body>
    <div>浮动 登录/注册</div>
    <div>banner</div>
    @RenderBody()
    <div>
        footer
    </div>

</body>
</html>