

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
   

    @RenderSection("StyleCSS", false)
    
    @RenderSection("Head", false)
</head>
<body>
  
    @RenderBody()
</body>

</html>
