

  


@{
    ViewBag.Title = "Hd";
    Layout = "~/Views/Shared/_LayoutHandler.cshtml";
}

@section JavaScript{
    <script src="/Areas/SalePromotionManager/Scripts/Ticket/Hd.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}
<div style="display: none">
<input id="BindEntity" type="text" value="@ViewBag.BindEntity" />
<input id="Command" type="hidden" />
</div>
<div class="mtable_div">
    <form id="form1">
        <table class="mtable">
            
              <tr>
            <td  >
                <span style="color: Red">*</span>:
            </td>
            <td >
                <input id="PkId" name="PkId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                <span style="color: Red">*</span>:
            </td>
            <td >
                <input id="TicketCode" name="TicketCode"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                券类型编码<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="TickettypeId" name="TickettypeId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                激活 作废 已使用<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="Status" name="Status"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                有效时间开始<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="AvaildateStart" name="AvaildateStart"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                有效时间结束<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="AvaildateEnd" name="AvaildateEnd"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                使用订单号（2012.5.30新增）<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="OrderNo" name="OrderNo"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                使用日期（2012.5.30新增）<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="UseDate" name="UseDate"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                归属会员<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="CustomerId" name="CustomerId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                活动规则Id<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="RuleId" name="RuleId"  type="text"  />
            </td>
        </tr>
            
              <tr>
            <td  >
                活动Id<span style="color: Red">*</span>:
            </td>
            <td >
                <input id="ActivityId" name="ActivityId"  type="text"  />
            </td>
        </tr>
          
        </table>
    </form>
</div>
<div style="padding: 10px 10px 0 10px; text-align: center;">
    @if (Request["PkId"]==null||int.Parse(Request["PkId"]) == 0)
    {
        <a id="btnAdd" class="easyui-linkbutton" iconcls="icon-add" href="javascript:void(0)">新增</a>
    }
    else
    {
        <a id="btnEdit" class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)">编辑</a>
    }
    <a id="btnClose" class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)">关闭</a>
</div>





