
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script src="~/Scripts/Account/ForgetPassword.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}

验证身份
<table>

    <tr>
        <td>已绑定手机号</td>
        <td><span id="AccountName">@ViewBag.MobilePhone</span><input type="text" value="@ViewBag.Key" id="key"  /></td>
    </tr>
    <tr>
        <td>验证码</td>
        <td>
            <input type="text" value="" id="MobileCode" />
            <input type="button" value="获取短信验证码" id="btn_SendMobileCode" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="下一步" id="btn_Step2" /><input type="button" value="取消" id="" />
        </td>
    </tr>
</table>

