
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script src="~/Scripts/Account/ForgetPassword.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}

填写账号
<table>
    <tr>
        <td>账号</td>
        <td><input type="text" value="" id="AccountName" /></td>
    </tr>
    <tr>
        <td>验证码</td>
        <td><input type="text"  id="AuthCode" /><img id="checkcode_img"  src="/SystemSet/VerifyCode" /><a  id="btn_ChangeVerifyCode" href="javascript:;">[ 换一张 ]</a></td>
    </tr>
    <tr>
        <td>
            <input type="button" value="下一步" id="btn_Step1" /><input type="button" value="取消" id="" />
        </td>
    </tr>
</table>




设置新密码
<table>
    <tr>
        <td>新密码</td>
        <td><input type="password" value="" id="NewPassword" />
    </tr>
    <tr>
        <td>确认新密码</td>
        <td><input type="password" value="" id="NewPasswordConfirm" /></td>
    </tr>

    <tr>
        <td>
            <input type="button" value="确认" id="btn_Step3" />
        </td>
    </tr>
</table>


完成
