
@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script src="~/Scripts/Account/ForgetPassword.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}



设置新密码
<table>
    <tr>
        <td>新密码</td>
        <td><input type="password" value="" id="NewPassword" /><input type="text" value="@ViewBag.Key" id="key" />
    </tr>
    <tr>
        <td>确认新密码</td>
        <td><input type="password" value="" id="NewPasswordConfirm" /></td>
    </tr>

    <tr>
        <td>
            <input type="button" value="确认" id="btn_Step3" />
        </td>
    </tr>
</table>


完成
