
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script src="~/Scripts/Account/Login.js?JsParamter=@SiteConfig.GetConfig().JsParamter"></script>
}

<table>
    <tr>
        <td>账号</td>
        <td><input type="text" value="" id="AccountName" /><span for="AccountName">错误提示</span></td>
    </tr>
    <tr>
        <td>密码</td>
        <td><input type="password" value="" id="Password" /><span for="Password">错误提示</span></td>
    </tr>
    <tr>
        <td>
            <input type="button" value="登录" id="btn_Login" />
        </td>
    </tr>
</table>
