
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <label for="fileUpload">Select File to Upload:</label>
        <input id="fileUpload" type="file" />
        <input id="btnUploadFile" type="button" value="Upload File" />
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnUploadFile').on('click', function () {
            var data = new FormData();
            var files = $("#fileUpload").get(0).files;
            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }
            // Make Ajax request with the contentType = false, and procesDate = false
            var ajaxRequest = $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Upload", "ApiTest")",
                    contentType: false,
                    processData: false,
                    data: data
                });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });
        });
    });
</script>
</html>
