
@using PagedList
@using PagedList.Mvc
@model Project.WebSite.Models.UserCenter.OrderListView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{



}

<div>

    <input type="text" id="ProductId" />

    <input type="button" value="加入购物车" id="btn_AddCart"/>

    <input type="button" value="直接购买" id="btn_AddOrder"/>

</div>

