
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                
            </td>
        </tr>

    </table>
</div>
</body>
</html>
