@using NHibernate.Util
@model Project.WebSite.Models.ProductListVm
@{
    ViewBag.Title = "商品列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{

}

<table style="height: 500px">

    <tr>
        <td style="width: 200px">
            左侧分类导航<br/>
            可以留一个广告位
        </td>
        <td>
            <div>搜索条件</div>

            @foreach (var attribute in Model.AttributList)
            {
                @attribute.AttributeName <span>:</span>

                foreach (var attributevalue in attribute.AttributeValueList)
                {
                    <a href="">@attributevalue.AttributeValueName</a>

                }
                <br />
            }
            <br />
            <span>
                已选中的搜索条件
            </span>

            <br /><br /><br /><br /><br /><br /><br /><br />
            <div>商品列表信息</div>

            @foreach (var product in Model.ProductList)
            {
                <div style="width: 200px; float: left">
                    @product.ProductName
                </div>
                    @product.ImageUrl
            }

        </td>
    </tr>
</table>
